<div *ngFor="let quest of questArray;">
    <div *ngIf='!questDoneIds.includes(quest["questId"])' class="card cardQuest animate__animated animate__slideInUp animate__fast">
      <h5 class="card-header">{{ quest["questPoints"] }}</h5>
      <div class="card-body">
        <h5 class="card-title">{{ quest["questTitel"] }}</h5>
        <p class="card-text">{{ quest["questText"] }}</p>
        <a class="btn btn-primary" (click)='addPointsAndDoneQuest(quest["questPointsValue"], quest["questId"])'>Aufgabe abgeschlossen</a>
      </div>
    </div>
</div>
  
<div *ngIf="taskdone" class="pyro test">  
    <div class="before"></div>
    <div class="after"></div>
</div>
  
<div *ngIf="noMoreQuest">
    <span class="alert alert-success">WOW du hast alle Aufgaben für Heute geschafft!</span>
    <br>
    <span class="alert alert-success">Morgen warten neue Aufgaben auf dich!</span>
</div>
