/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
.alert-primary {
    background-color: #00A1A1 !important;
    color: white;
}

.btn {
    background-color: #00A1A1 !important;
    color: white !important;
    border-color: #00A1A1 !important;
}

.background {
    background-image: url(./app/images/alberta-2297204_1280.jpg);
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: top;
}